assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store

# ignore cache folder
/silverstripe-cache/

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

\.idea/

